/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank

$background-color: #ffffff !default; // 배경색 
$text-color: #000 !default; // 폰트색
$primary-color: #ff8300 !default; // 주 컨셉 색깔(상단 메뉴바의 밑줄, 목차 등)
$footer-background-color:  #ff8300 !default; // footer 색
$link-color: #21662F !default; // 링크색(글 제목)